#persona-data {
    height: 20dvh;
  }

/* Define the styles for the dark mode */
body.dark-mode {
    background-color: #222;
    color: #fff;
  }
  body.dark-mode #save-persona-data-btn {
    background-color: #444;
    color: #fff;
  }
  body.dark-mode select, 
  body.dark-mode input[type="text"], 
  body.dark-mode textarea {
    background-color: #333;
    color: #fff;
  } 
  .navbar-nav .nav-link,
  .navbar-nav .btn {
    color: #fff; /* Replace with the color you want */
    font-size: 16px; /* Replace with the font size you want */
  }

  .navbar-nav li {
    padding-top: 10px;
    padding-right: 10px;
  }
  #save-persona-data-btn {
    margin-top: 10px;
  }