* {
box-sizing: border-box;
}

body {
margin: 0;
font-family: sans-serif;
background-color: #252525;
color: #f2f2f2;
}

#app-container {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
min-height: 100vh;
}

#header-frame {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px;
background-color: #1d1d1d;
flex-wrap: wrap;
position: relative;
}

#persona-container {
display: none;
align-items: center;
margin-right: 16px;
}

#logo-container {
width: 100px;
height: 100px;
display: flex;
align-items: center;
}

#username-frame {
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
margin-left: 16px;
}

#username-frame #username-container {
display: flex;
flex-direction: row;
align-items: center;
}

#username-frame #username-container label {
margin-right: 8px;
}

#username-input-container {
	position: relative;
	display: flex;
	align-items: center;
  }

#username-frame #username-container input {
background-color: #ffffff;
color: #f2f2f2;
border: none;
padding: 8px;
margin-right: 8px;
caret-color: black;
}

#username-frame #username-container input::placeholder {
color: #000000;
}

#username-container #username-input:focus {
color: black;
}

#username-frame #username-container button {
width: auto;
background-color: transparent;
color: #f2f2f2;
border: none;
cursor: pointer;
padding: 8px;
}

#username-frame #username-container button:hover {
background-color: #333;
}

#username-frame #username-container button:active {
background-color: #4d4d4d;
}

#username-input {
background-color: #1d1d1d;
color: black;
}

#content-container {
display: flex;
flex-direction: column;
flex-grow: 1;
min-height: 0;
}

#frame-container {
display: flex;
flex-grow: 1;
background-color: #1d1d1d;
flex-shrink: 0
}

#left-frame {
display: flex;
flex-direction: column;
width: 20%;
position: relative;
height: 100%;
}

#left-frame button {
margin-bottom: 8px;
background-color: #1d1d1d;
color: #f2f2f2;
border: none;
cursor: pointer;
padding: 8px;
width: 100%;
}

#chat-container {
display: flex;
flex: 1;
align-items: left;
justify-content: left;
padding: 16px;
flex-shrink: 0
}

#chat-window {
max-height: 70vh;
overflow-y: auto;
padding-right: 16px;
}

#history-frame {
width: 7%;
display: flex;
}

#history-frame {
display: flex;
}

#right-frame {
display: flex;
}

#persona-dropdown {
display: none;
}

#persona-dropdown-content {
display: none;
position: absolute;
background-color: #333;
min-width: 1000px;
padding: 12px;
z-index: 1;
border-radius: 150px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
color: white;
}

#persona-image {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 75px;
height: 75px;
margin-right: 10px;
border-radius: 50%;
}

.message {
text-align: left;
background-color: #157c34;
margin-bottom: 8px;
padding: 8px;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
clear: both;
}

.user {
text-align: left;
background-color: #313a9c;
}

.message.puerus {
background-color: rgb(123, 124, 168);
}

.message.jarvis {
background-color: rgb(0, 81, 0);
}

.message.butler {
background-color: gray;
}

#persona-dropdown {
width: 80px;
display: none;
}

#persona-container {
display: flex;
}

#persona-dropdown {
display: inline-block;
margin-left: 16px;
}

#username-frame {
display: flex;
flex-direction: column;
align-items: flex-end; /* changed from 'align-items: flex-start' */
flex-grow: 1;
margin-left: 16px;
}

#username-frame #username-container {
width: 40%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
}

#username-submit-button {
position: absolute;
top: 0;
right: 0;
width: 80px;
height: 100%;
background-color: transparent;
border: none;
cursor: pointer;
padding: 8px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
}

#username-submit-button img {
width: 30px;
height: 30px;
}

#bottom-frame {
display: flex;
align-items: center;
flex-shrink: 0;
padding: 16px;
background-color: #1d1d1d;
flex-direction: column;
}

#bottom-frame #input-container {
width: 60%;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 16px;
margin-bottom: 16px;
}

#bottom-frame #input-container input {
flex: 1;
margin-right: 16px;
padding-right: 80px;
}  


#bottom-frame #input-container button {
position: absolute;
right: 0;
top: 0;
bottom: 0;
width: 80px;
margin-top: 0;
background-color: transparent;
border: none;
padding: 0;
background-image: url("/img/send-btn.svg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
#header-frame {
flex-direction: column;
align-items: flex-start;
}
#left-frame {
width: 10%;
}
#bottom-frame {
padding-bottom: 20%;
}
}