* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: sans-serif;
	background-color: #252525;
	color: #f2f2f2;
  }
  
  #app-container {
	max-width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-bottom: 20px; /* Add padding to the bottom of the container */
  }
  
  #header-frame {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	background-color: #1d1d1d;
  }
  
  #logo-container {
	width: 100px;
	height: 50px;
  }
  
  h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
  }
  
  #username-frame {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  #username-frame #username-container {
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  #username-frame #username-container label {
	margin-right: 8px;
  }
  
  #username-frame #username-container input {
	background-color: #1d1d1d;
	color: #f2f2f2;
	border: none;
	padding: 8px;
	margin-right: 8px;
  }
  
  #username-frame #username-container input::placeholder {
	color: #b2b2b2;
  }
  
  #username-frame #username-container button {
	width: auto;
	background-color: #1d1d1d;
	color: #f2f2f2;
	border: none;
	cursor: pointer;
	padding: 8px;
  }
  
  #username-frame #username-container button:hover {
	background-color: #333;
  }
  
  #username-frame #username-container button:active {
	background-color: #4d4d4d;
  }
  
  #content-container {
	display: flex;
	flex-direction: column;
	flex: 1;
  }
  
  #frame-container {
	display: flex;
	flex: 1;
	background-color: #1d1d1d;
  }
  
  #chat-container {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 16px;
  }
  
  #chat-window {
	max-height: 70vh;
	overflow-y: auto;
	padding-right: 16px;
  }
  
  #history-frame {
	width: 20%;
	display: none;
  }
  
  #history-frame {
	display: flex;
  }
  
  #bottom-frame {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	height: 20%;
	background-color: #1d1d1d;
	padding: 16px;
  }
  
  #bottom-frame #input-container {
	height: 2em;
	width: 70%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
  }
  
  #bottom-frame #input-container input {
	flex: 1;
	margin-right: 16px;
  }
  
  #bottom-frame #input-container button {
	width: 80px;
	margin-top: 0;
  }
  
  .message {
	margin-bottom: 8px;
	padding: 8px;
	border-radius: 4px;
	background-color: #404040;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .user {
	text-align: right;
  }
  
  .user span {
	font-weight: bold;
	margin-right: 8px;
	color: #9ac0ff;
  }
  
  .bot span {
	font-weight: bold;
	margin-right: 8px;
	color: #ff8a80;
  }
  
  .bot {
	text-align: left;
  }
  
  #input-container {
	display: none;
  }
  
  #username-container-right {
	display: none;
  }
  
  #username-container-left button {
	margin-left: 8px;
  }
  
  #username-container-left input {
	margin-right: 8px;
  }
  
  #username-container-left button {
	width: auto;
	background-color: #1d1d1d;
	color: #f2f2f2;
	border: none;
	cursor: pointer;
	padding: 8px;
  }
  
  #username-container-left button:hover {
	background-color: #333;
  }
  
  #username-container-left button:active {
	background-color: #4d4d4d;
  }
  
  #chat-container {
	width: 80%;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 16px;
  }
  
  #chat-window {
	flex-grow: 1;
	height: 100%;
	max-height: 70vh;
	overflow-y: auto;
	padding-right: 16px;
	min-height: 100%;
  }
  
  #bottom-frame {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	height: 20%;
	background-color: #1d1d1d;
	padding: 16px;
  }
  
  #bottom-frame #input-container {
	width: 70%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  }
  
  #bottom-frame #input-container input {
	flex: 1;
	margin-right: 16px;
  }
  
  #bottom-frame #input-container button {
	width: 80px;
	margin-top: 0;
  }
  #left-frame {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#left-frame button {
    margin-bottom: 8px;
    background-color: #1d1d1d;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    padding: 8px;
    width: 100%;
}

#left-frame button:hover {
    background-color: #333;
}

#left-frame button:active {
    background-color: #4d4d4d;
}
select {
	width: 100%;
	padding: 12px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 8px;
	margin-bottom: 16px;
	background-color: white;
	color: black;
  }
  
  option {
	font-size: 16px;
  }